body {
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Credits: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */