.sidebuttonGroup {
  transition-duration: 750ms;
  height: 0px;

  width: 100%;
}

.side {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  background-color: #f1f1f1;
  padding: 20px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;

  display: flex;
  flex-flow: column;
  height: 100%;
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.mobileMenuToggleButton {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .side {
    position: absolute;
    top: 112px;
    bottom: 0px;
    width: 100%;
  }
  .mobileMenuToggleButton {
    visibility: visible;
  }
  .sideHidden {
    visibility: hidden;

    -ms-flex: 0%;
    flex: 0%;  
    display: none;
    flex-direction: unset;
  }
}


.sideButton {
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

.sidebuttonGroup .sideButton {
  width: 90%;
  margin-left: 10%;
}

.sideButton button{
  background-color: rgb(0 187 255);
  border: none;
  padding: 0px 20px;
  display: inline-block; 
  cursor: pointer;  width: 100%;
  transition-duration: 0.2s;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing: .5px;
  text-align: center;
  position: relative;
  transition: all .35s;
}
      
    .sideButton button span{
      position: relative;
      z-index: 2;
      overflow: hidden;
      transition-duration: 500ms;
      white-space: nowrap;
    }
    .sideButton button:hover span{
        font-size: larger;
      }
      
      .sideButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: white;
        transition: all .35s;
        opacity: .4;
      }
      
      .sideButton button:hover:after{
        width: 100%;
      }
      
      .sideButton button:active:after{
        background-color: rgb(0 187 255);
      }

#myInput:focus {
    outline: none;
    border: 2px gray solid;
}

#myInput {
  border-radius: 4px;
  margin: 5px 0;
  
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0px 20px;
  transition-duration: 0.5s;
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(148, 148, 148);
  letter-spacing: .5px;
  border: 2px transparent solid;

  flex-shrink: 0;
}

#SearchList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-grow : 1;
  overflow-y: visible;
}

#myInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(138, 138, 138);
  opacity: 1; /* Firefox */
  transition-duration: 0.5s;
}
#myInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(138, 138, 138);
  transition-duration: 0.5s;
}
#myInput::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(138, 138, 138);
  transition-duration: 0.5s;
}

#myInput:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(211, 211, 211);
  opacity: 1; /* Firefox */
}
#myInput:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(211, 211, 211);
}
#myInput:focus::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(211, 211, 211);
}


.sideListButton {
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
}

.sideListButton button{
  background-color: rgb(0 187 255);
  border: none;
  padding: 0px 20px;
  display: inline-block; 
  cursor: pointer;  width: 100%;
  transition-duration: 0.2s;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing: .5px;
  text-align: center;
  position: relative;
  transition: all .35s;
}
    
  .sideListButton button span{
    position: relative;
    z-index: 2;
    transition-duration: 500ms;
    white-space: nowrap;
    width: 100%;
  }
  .sideListButton button:hover span{
      font-size: larger;
    }
    
    .sideListButton button:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: white;
      transition: all .35s;
      opacity: .4;
    }
    
    .sideListButton button:hover:after{
      width: 100%;
    }
    
    .sideListButton button:active:after{
      background-color: rgb(0 187 255);
    }