.side {
  -ms-flex: 10%;
  flex: 10%;
  background-color: #f1f1f1;
  padding: 10px 0px 10px 10px;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: scroll;
}

.sideButtonsHidden>button,
.sideButtonsHidden>h2,
.sideButtonsHidden>.sidebuttonGroup {
  opacity: 0;
  pointer-events: none;
}

#sidebarButtons:not(.sideButtonsHidden) #SearchList {
  display: none;
}

@media screen and (max-width: 700px) {
  .side {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .sideHidden {
    visibility: hidden;

    -ms-flex: 0%;
    flex: 0%;
    display: none;
    flex-direction: unset;
  }
}

@media screen and (min-width: 700px) {
  .sidebarMainClose {
    visibility: hidden !important;
    height: 0px !important;
  }
}

.sidebuttonGroup {
  height: 0px;
}

#SearchList > li > div > button {
  width: calc(100% - 16px);
}

.sidebuttonGroup button {
  display: block;
  width: calc(100% - 16px);
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex: 100% - 10px;
  opacity: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.sidebarButtons button {
  margin: 5px 0;
  border: none;
  white-space: nowrap;
  padding: 0px 20px;
  cursor: pointer;
  display: block;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  text-align: center;
  position: relative;
  text-overflow: ellipsis;
}

.sidebarButtons button.sideCreatorsButton {
  border: none;
}

.sidebarButtons button:not(.sideCreatorsButton) {
  margin: 8px;
  background-color: #ffffff;
  border: 4px solid #00bbff;
}

.sidebarButtons button:not(.sideCreatorsButton):hover {
  transform: translate(-4px, -4px);
  box-shadow:
    1px 1px 0px #00bbff,
    2px 2px 0px #00bbff,
    3px 3px 0px #00bbff,
    4px 4px 0px #00bbff;
}

.sidebarButtons button:not(.sideCreatorsButton):active {
  border: 4px solid #000000;
  box-shadow: none;
  transform: none;
}

#myInput {
  margin: 8px;
  background-color: #ffffff;
  border: 4px solid #888888;
  padding: 0px 20px;
  height: 40px;
  font-size: 18px;
  color: #000000;
  flex-shrink: 0;
}

#myInput:focus {
  outline: none;
  border: 4px #00bbff solid;
}

#SearchList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  overflow-y: visible;
}

#myInput::placeholder {
  color: #8a8a8a;
  opacity: 1;
}

#myInput:-ms-input-placeholder {
  color: rgb(138, 138, 138);
}

#myInput::-ms-input-placeholder {
  color: rgb(138, 138, 138);
}

#myInput:focus::placeholder {
  color: rgb(211, 211, 211);
  opacity: 1;
}

#myInput:focus:-ms-input-placeholder {
  color: rgb(211, 211, 211);
}

#myInput:focus::-ms-input-placeholder {
  color: rgb(211, 211, 211);
}

.sidebarMainClose {
  flex-shrink: 0;
  margin-bottom: 10px;
}

.sidebarMainCloseButton {
  float: right;
  padding: 2px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.sidebarMainCloseButton:hover {
  filter: invert(30%);
}

.sidebarMainCloseButton:active {
  filter: invert(60%);
}

.sidebarMainCloseButton img {
  width: 32px;
  height: 32px;
}